{
  "branches": ["dev"],
"plugins": [
    "@semantic-release/gitlab",
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Semantic Versioning Changelog"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} :tada: :rocket:\n\n${nextRelease.notes}\n\n[skip ci]",
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "package-lock.json"
        ]
      }
    ]
  ]
}
